<p>
We received a registration request for <%= @user.email %> for GameStats. If you received this email in error, please ignore it. Your email address will be automatically deleted from out database in 24 hours.
</p>

<p>
To complete your registration, please click on the link below:
</p>

<p>
<%= @url %>
</p>

<p>
If clicking on the email does not work, please copy and paste the link into the address bar on your browser and hit Enter. Once you've arrived at the registration page, simply complete the form and click the Register button to register.
</p>

<p>
Sincerely,
GameStats
</p>

<p>
<%= DateTime.now %>
</p>