<h1>My account</h1>

<div class="tabbable tabs-right">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Overview</a></li>
    <li><a href="#tab2" data-toggle="tab">Profile</a></li>
    <li><a href="#tab3" data-toggle="tab">Settings</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
 
      <h2>Tab 1</h2>
      <p>I'm in Section 1.</p>
      <p>Change email</p>

      <h2>Tab 2</h2>
      <div class="profile-update-form centered-object entire-form">
        <form method="put" action="/update_user_profile">
          <input type ="text"      name="email"     placeholder="enter your email" ><br>
          <input type ="text"      name="display_name"     placeholder="enter display name" ><br>
          <input type ="password"  name="password"  placeholder="enter your password"     ><br>
          <button type ="submit"   class="btn pull-right"     >Update Profile</button>
        </form>
      </div>


      <h2>Tab 3</h2>


    </div>
    <div class="tab-pane" id="tab2">
    </div>
    <div class="tab-pane" id="tab3">
      <p>Settings</p>
      <p>Link your steam account.</p>
      <p>What is your steam profile name?</p>

      <p>Change your password</p>
    </div>
  </div>
</div>
