<ul>
  <% @game.game_reviews.each do |grev| %>
    <ul>
      <li>
        <div class="review-reviewer-name"> <%= grev.user.display_name %> </div>
      </li>
      <li>  
        <div class="review-rating"> <%= grev.game_rating.rating %> </div>
      </li>
      <li>  
        <div class="review-title" > <%= grev.title %> </div>
      </li>
      <li>
        <div class="review-body"> <%= grev.body %> </div>
      </li>
    </ul>
  <% end %>
</ul>