<div id="directions_to_stranger" class="centered-object">
  <h1>Please log in</h1>
</div>
<div id="login_screen">
  <div>
    <%= render partial: 'login_form' %>
  </div>
  <div class="centered-object">
    <p>or <a id="user_signup_link" href="/signup">create</a> an account</p>
  </div>
</div>