<form class="centered-object login-form" accept-charset="UTF-8" method="post" action="/login">
  <input  name = "_method"   type  = "hidden"   value = "put" />
  <input  type = "text"      name  = "email"    placeholder = "yoda@alliance.io"><br>
  <input  type = "password"  name  = "password" placeholder = "thereisnotry"><br>
  <button type = "submit"    class = "btn"      >Log In</button>
</form>
<div class="centered-object">
  <p>or <a id="user_signup_link" href="/signup">create</a> an account</p>
</div>

