<div class="">
  <form class="centered-object login-form" accept-charset="UTF-8" method="post" action="/login">
    <input  name = "_method"   type  = "hidden"   value = "put" />
    <input  type = "text"      name  = "email"    placeholder = "yoda@alliance.io"   class="centered-object"><br>
    <input  type = "password"  name  = "password" placeholder = "thereisnotry" class="centered-object"><br>
    <button type = "submit"    class = "btn"      >Log In</button>
  </form>
</div>