

<div class="centered-object signup-form top-padded-form entire-form">

  <form accept-charset="UTF-8" method="put" action="/users">
    <div>
      <input type ="text"      name="display_name"           placeholder="darth@vader.fm"   ><br>
      <input type ="password"  name="password"               placeholder="iamyourfather"      ><br>
      <input type ="password"  name="password_confirmation"  placeholder="itrulyamyourfather" ><br>
      <button type ="submit"   class="btn"       >Join the Dark Side</button>
    </div>
  </form>
</div>