<div id="main">
  <p>What is your Steam username?</p>
  <form accept-charset="UTF-8" method="post" action="/">
    <input type="text" placeholder="steamuser"></input>
    <input type="submit" class="btn" href=""></input>
  </form>
</div>