<div id="main">
  <p>lolodfa;lksjfjakhsdfhakhdsfhaksjdhfajkh</p>
  <form accept-charset="UTF-8" method="post" action="/">
    <input type="text"></input>
    <input type="submit" class="btn" href=""></input>
  </form>
</div>