<section role="main" id="everything">
  <% if current_user %>
    <div>
      <%= render partial: 'welcome_screen' %>
      <%= render partial: 'game_sidebar' %>
    </div>
  <% else %>
    <%= render partial: 'hello_stranger' %>
  <% end %>
</section>