<div id="everything">
  <% if current_user %>
    <div class="row">
      <%= render partial: 'welcome_screen' %>
      <%= render partial: 'game_sidebar' %>
    </div>
    <div id="chart_data">
    </div>
  <% else %>
    <%= render partial: 'hello_stranger' %>
  <% end %>
</div>