<div id="everything">
  <% if current_user %>
    <div class="row">
      <%= render partial: 'welcome_screen' %>
      <%= render partial: 'game_sidebar' %>
    </div>
  <% else %>
    <div>
      <%= render partial: 'hello_stranger' %>
    </div>
  <% end %>
</div>